<div class="full-width">
    {% for el in things %}
    <q-list bordered separator class="shadow-9 q-ma-md">
        <q-item>
            <q-item-section>
                <q-item-label class="text-h6">{{ el['thing'] }}</q-item-label>
                <q-item-label class="text-subtitle1">{{ el['quantity'] }}</q-item-label>
            </q-item-section>

            <q-item-section side>
                <q-btn round color="green" icon="add_circle"></q-btn>
            </q-item-section>

            <q-item-section side>
                <q-btn round color="orange" icon="remove_circle"></q-btn>
            </q-item-section>

            <q-item-section side>
                <q-btn round color="red" icon="delete"></q-btn>
            </q-item-section>

            <q-item-section side>
                <q-btn round color="primary" icon="edit"></q-btn>
            </q-item-section>
        </q-item>    
    </q-list>
    {% endfor %} 
</div>