<div class="full-width">
    <q-list bordered separator v-for="el in productList" class="shadow-9 q-ma-md">
        <q-item>
            <q-item-section>
                <q-item-label class="text-h6">{ el['name'] }</q-item-label>
                <q-item-label class="text-subtitle1">{ el['quantity'] }</q-item-label>
            </q-item-section>

            <q-item-section side>
                <q-btn round color="green" icon="add_circle" @click="modify_product(el['id'])"></q-btn>
            </q-item-section>

            <q-item-section side>
                <q-btn round color="orange" icon="remove_circle" @click="modify_product(el['id'])"></q-btn>
            </q-item-section>

            <q-item-section side>
                <q-btn round color="red" icon="delete" @click="delete_product(el['id'])"></q-btn>
            </q-item-section>

            <q-item-section side>
                <q-btn round color="primary" icon="edit" @click="alert=true;current_product_id=el['id']"></q-btn>
            </q-item-section>
        </q-item>
    </q-list>


    <q-dialog v-model="alert">
        <q-card>
            <q-card-section>
                <div class="text-h6">Modify</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
                <q-form class="q-gutter-md" @submit="modify">
                    <q-input filled v-model="new_name" label="Product name *" hint="New name of product" lazy-rules
                             :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>

                    <q-input filled type="number" v-model="new_quantity" label="Product quantity *" lazy-rules :rules="[
                val => val !== null && val !== '' || 'Please type the quantity',
                val => val > 0 || 'Please type a real quantity'
                ]"></q-input>


                    <div>
                        <q-btn label="Submit" type="submit" color="primary"></q-btn>
                        <q-btn label="Close" color="primary" flat class="q-ml-sm" v-close-popup></q-btn>
                    </div>
            </q-card-section>
            </q-form>


        </q-card>
    </q-dialog>


    <q-dialog v-model="addProductModal">
        <q-card>
            <q-card-section>
                <div class="text-h6">Add</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
                <q-form class="q-gutter-md" @submit="add_product">
                    <q-input filled v-model="new_name" label="Product name *" hint="Name of new product" lazy-rules
                             :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>

                    <q-input filled type="number" v-model="new_quantity" label="Product quantity *" lazy-rules :rules="[
            val => val !== null && val !== '' || 'Please type the quantity',
            val => val > 0 || 'Please type a real quantity'
            ]"></q-input>


                    <div>
                        <q-btn label="Submit" type="submit" color="primary"></q-btn>
                        <q-btn label="Close" color="primary" flat class="q-ml-sm" v-close-popup></q-btn>
                    </div>
            </q-form>
            </q-card-section>

        </q-card>
    </q-dialog>

</div>